.tabs{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.tab{
    padding: 5px 5px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all , 0.15s;
}
.header{
    color: #6e7372;
    border-bottom: 1px solid #6e7372;
}
.active_header{
    color: #0258d9;
    border-bottom: 1px solid #0258d9;
}