.paginationList {
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

.paginationListItem {
    margin-right: 10px;
    cursor: pointer;
    padding: 5px;
    
}

.extend {
    border: none;
    font-weight: 700;
    border-bottom: 2px solid blue;
}